PORT=5001
NODE_ENV=development
# MONGO_URI=mongodb://127.0.0.1:27017/agri-pos
MONGO_URI=mongodb+srv://yhtetaung235_db_user:vYk9kBP6LCAlvMgD@cluster0.dwcvpri.mongodb.net/agri-pos?appName=Cluster0

REDIS_URL=redis://127.0.0.1:6379
JWT_ACCESS_SECRET=agri_pos_access_secret_key_2026_super_secure
JWT_REFRESH_SECRET=agri_pos_refresh_secret_key_2026_super_secure
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
